## Question Generation##

Pipeline description:
1. Load data (**SQUAD**):
    * Read JSON format
    * Rearrange to the required format
    * Explore and clean the data
2. Data Processing:
    * Word/Sentence Tokenize
    * Named Entity Recognition
3. Model Ready
4. Train and save the model
5. Evaluate the model for question generation

In [0]:
import pandas as pd
import json
import numpy as np

In [44]:
data = pd.read_json(r'dev-v2.0.json')
data = pd.DataFrame(data)

   version                                               data
0     v2.0  {'title': 'Normans', 'paragraphs': [{'qas': [{...
1     v2.0  {'title': 'Computational_complexity_theory', '...
2     v2.0  {'title': 'Southern_California', 'paragraphs':...
3     v2.0  {'title': 'Sky_(United_Kingdom)', 'paragraphs'...
4     v2.0  {'title': 'Victoria_(Australia)', 'paragraphs'...
5     v2.0  {'title': 'Huguenot', 'paragraphs': [{'qas': [...
6     v2.0  {'title': 'Steam_engine', 'paragraphs': [{'qas...
7     v2.0  {'title': 'Oxygen', 'paragraphs': [{'qas': [{'...
8     v2.0  {'title': '1973_oil_crisis', 'paragraphs': [{'...
9     v2.0  {'title': 'European_Union_law', 'paragraphs': ...
10    v2.0  {'title': 'Amazon_rainforest', 'paragraphs': [...
11    v2.0  {'title': 'Ctenophora', 'paragraphs': [{'qas':...
12    v2.0  {'title': 'Fresno,_California', 'paragraphs': ...
13    v2.0  {'title': 'Packet_switching', 'paragraphs': [{...
14    v2.0  {'title': 'Black_Death', 'paragraphs': [{'qas'...
15    v2.0  {'title': 'Geology', 'paragraphs': [{'qas': [{...
16    v2.0  {'title': 'Pharmacy', 'paragraphs': [{'qas': [...
17    v2.0  {'title': 'Civil_disobedience', 'paragraphs': ...
18    v2.0  {'title': 'Construction', 'paragraphs': [{'qas...
19    v2.0  {'title': 'Private_school', 'paragraphs': [{'q...
20    v2.0  {'title': 'Harvard_University', 'paragraphs': ...
21    v2.0  {'title': 'Jacksonville,_Florida', 'paragraphs...
22    v2.0  {'title': 'Economic_inequality', 'paragraphs':...
23    v2.0  {'title': 'University_of_Chicago', 'paragraphs...
24    v2.0  {'title': 'Yuan_dynasty', 'paragraphs': [{'qas...
25    v2.0  {'title': 'Immune_system', 'paragraphs': [{'qa...
26    v2.0  {'title': 'Intergovernmental_Panel_on_Climate_...
27    v2.0  {'title': 'Prime_number', 'paragraphs': [{'qas...
28    v2.0  {'title': 'Rhine', 'paragraphs': [{'qas': [{'q...
29    v2.0  {'title': 'Scottish_Parliament', 'paragraphs':...
30    v2.0  {'title': 'Islamism', 'paragraphs': [{'qas': [...
31    v2.0  {'title': 'Imperialism', 'paragraphs': [{'qas'...
32    v2.0  {'title': 'Warsaw', 'paragraphs': [{'qas': [{'...
33    v2.0  {'title': 'French_and_Indian_War', 'paragraphs...
34    v2.0  {'title': 'Force', 'paragraphs': [{'qas': [{'q...

In [0]:
def squad_json_to_dataframe_train(input_file_path, record_path = ['data','paragraphs','qas','answers'],
                           verbose = 1):
    """
    input_file_path: path to the squad json file.
    record_path: path to deepest level in json file default value is
    ['data','paragraphs','qas','answers']
    verbose: 0 to suppress it default is 1
    """
    if verbose:
        print("Reading the json file")    
    file = json.loads(open(input_file_path).read())
    if verbose:
        print("processing...")
    # parsing different level's in the json file
    js = pd.io.json.json_normalize(file , record_path )
    m = pd.io.json.json_normalize(file, record_path[:-1] )
    r = pd.io.json.json_normalize(file,record_path[:-2])
    
    #combining it into single dataframe
    idx = np.repeat(r['context'].values, r.qas.str.len())
    ndx  = np.repeat(m['id'].values,m['answers'].str.len())
    m['context'] = idx
    js['q_idx'] = ndx
    main = pd.concat([ m[['id','question','context']].set_index('id'),js.set_index('q_idx')],1,sort=False).reset_index()
    main['c_id'] = main['context'].factorize()[0]
    if verbose:
        print("shape of the dataframe is {}".format(main.shape))
        print("Done")
    return main

In [46]:
input_file_path = 'train-v2.0.json'
record_path = ['data','paragraphs','qas','answers']
train = squad_json_to_dataframe_train(input_file_path=input_file_path,record_path=record_path)

Reading the json file
processing...

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  from ipykernel import kernelapp as app
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  app.launch_new_instance()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

shape of the dataframe is (130319, 6)
Done

In [47]:
train

                           index  ...   c_id
0       56be85543aeaaa14008c9063  ...      0
1       56be85543aeaaa14008c9065  ...      0
2       56be85543aeaaa14008c9066  ...      0
3       56bf6b0f3aeaaa14008c9601  ...      0
4       56bf6b0f3aeaaa14008c9602  ...      0
...                          ...  ...    ...
130314  5a7e070b70df9f001a875439  ...  19028
130315  5a7e070b70df9f001a87543a  ...  19028
130316  5a7e070b70df9f001a87543b  ...  19028
130317  5a7e070b70df9f001a87543c  ...  19028
130318  5a7e070b70df9f001a87543d  ...  19028

[130319 rows x 6 columns]

In [0]:
train = train.dropna()

In [28]:
! pip install -U tokenizers

Collecting tokenizers
  Downloading https://files.pythonhosted.org/packages/14/e5/a26eb4716523808bb0a799fcfdceb6ebf77a18169d9591b2f46a9adb87d9/tokenizers-0.7.0-cp36-cp36m-manylinux1_x86_64.whl (3.8MB)
     |████████████████████████████████| 3.8MB 4.5MB/s
Installing collected packages: tokenizers
Successfully installed tokenizers-0.7.0

In [49]:
import nltk
!nltk.download()
nltk.download('punkt')

/bin/bash: -c: line 1: syntax error: unexpected end of file
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [0]:
train_cont = train['context']
train_cont[4]
train_len = len(train_cont)

In [86]:
from nltk.tokenize import sent_tokenize, word_tokenize


for i in range(train_len):
  # words = word_tokenize(train_cont[i])
  words = sent_tokenize(train_cont[i])
#words = word_tokenize(train_cont[1])

# print(phrases)
print(words)

KeyError: ignored

In [90]:
words[]

'It is the thirteenth installment in the The Legend of Zelda series.'